
@font-face {
  font-family: 'Gilroy-Light';
  src: url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),  url('Gilroy-Light.otf')  format('opentype'),
	     url('Gilroy-Light.woff') format('woff'), url('Gilroy-Light.ttf')  format('truetype'), url('Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
