- var theme_customizer      = true;
- var tooltip               = true;
- var googlechart           = true;
- var page_googlechart      = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        #pageWrapper.page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.horizontal-menu
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-sm-6
                                    h3
                                      | Google Chart
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         | Home
                                      li.breadcrumb-item Charts
                                      li.breadcrumb-item.active Google Chart
                                .col-sm-6
                                  include ../../components/bookmark
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12.col-xl-4.box-col-6
                          .card
                            .card-header
                              h5
                                | Pie Chart 
                                span.digits 1
                            .card-body.p-0.chart-block
                              #pie-chart4.chart-overflow
                        .col-sm-12.col-xl-4.box-col-6
                          .card
                            .card-header
                              h5
                                | Area Chart 
                                span.digits 1
                            .card-body.p-0.chart-block
                              #area-chart1.chart-overflow
                        .col-sm-12.col-xl-4.box-col-6
                          .card
                            .card-header
                              h5
                                | Area Chart 
                                span.digits 2
                            .card-body.p-0.chart-block
                              #area-chart2.chart-overflow
                        .col-sm-12.col-xl-4.box-col-6
                          .card
                            .card-header
                              h5
                                | Pie Chart 
                                span.digits 2
                            .card-body.p-0.chart-block
                              #pie-chart1.chart-overflow
                        .col-sm-12.col-xl-4.box-col-6
                          .card
                            .card-header
                              h5
                                | Pie Chart 
                                span.digits 3
                            .card-body.p-0.chart-block
                              #pie-chart2.chart-overflow
                        .col-sm-12.col-xl-4.box-col-6
                          .card
                            .card-header
                              h5
                                | Pie Chart 
                                span.digits 4
                            .card-body.p-0.chart-block
                              #pie-chart3.chart-overflow
                        .col-sm-12.col-xl-6.box-col-6
                          .card
                            .card-header
                              h5
                                | Column Chart 
                                span.digits 1 
                            .card-body.chart-block
                              #column-chart1.chart-overflow
                        .col-sm-12.col-xl-6.box-col-6
                          .card
                            .card-header
                              h5
                                | Column Chart 
                                span.digits 2
                            .card-body.chart-block
                              #column-chart2.chart-overflow
                        .col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Gantt Chart
                            .card-body.chart-block
                              #gantt_chart.chart-overflow
                        .col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Line Chart
                            .card-body.chart-block
                              #line-chart.chart-overflow
                        .col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Combo Chart
                            .card-body.chart-block
                              #combo-chart.chart-overflow
                        .col-sm-12.col-xl-6.box-col-12
                          .card
                            .card-header
                              h5 bar-chart2
                            .card-body.chart-block
                              #bar-chart2
                        .col-sm-12.col-xl-6.box-col-12
                          .card
                            .card-header
                              h5 word tree
                            .card-body.chart-block
                              #wordtree_basic.word-tree
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
