- var landing_sticky        = true;
- var wow                   = false;
- var page_wow              = false;
- var animate               = true;
- var jarallax_libs         = true;
- var scrollpy_landing      = false;
- var owlcarousel           = true ;
- var page_owlcarousel      = true ;

doctype html
html(lang='en')
    include ../../components/header-files
    body.landing-wrraper
        include ../../components/taptop
        // page-wrapper Start
        .page-wrapper.landing-page
            // Page Body Start
            .page-body-wrapper
              // header start
              header.landing-header
                .custom-container
                  .row
                    .col-12
                      nav#navbar-example2.navbar.navbar-light.p-0
                        a.navbar-brand(href="javascript:void(0)") 
                          img.img-fluid(src="../assets/images/logo/logo.png" alt="")
                        ul.landing-menu.nav.nav-pills
                          li.nav-item.menu-back
                            | back
                            i.fa.fa-angle-right
                          li.nav-item
                            a.nav-link(href='#home') Home
                          li.nav-item
                            a.nav-link(href='#demo') Demo
                          li.nav-item
                            a.nav-link(href='https://pixelstrap.freshdesk.com/support/home' target="_blank") Support
                          li.nav-item
                            form.form-inline(target='_blank' action='https://docs.google.com/forms/d/e/1FAIpQLSe6hKUXw_By-pg7yabL0FxoTM02ZPTxoXy8PE3yboRuUCuyeA/viewform')
                              button.nav-link Hire Us
                          li.nav-item
                            a.nav-link(href='https://docs.pixelstrap.com/viho/document/' target='_blank') Document
                        .buy-block
                          a(class="btn-landing" href="https://themeforest.net/user/pixelstrap/portfolio" target="_blank") Purchase
                          .toggle-menu
                            i.fa.fa-bars
              // header end

              //home section start
              section#home.landing-home.section-pb-space
                img.img-fluid.bg-img-cover(src="../assets/images/landing/landing-home/home-bg2.jpg" alt="")
                .custom-container
                  .row
                    .col-12
                      .landing-home-contain
                        div
                          .landing-logo
                            img.img-fluid(src="../assets/images/landing/landing-home/logo.png" alt="")
                          h6 clean design 
                          h2 viho Bootstrap 
                            span Admin Template
                          p When it comes to dashboard or web apps. one of the first impression you consider is the design. It needs to be high quality enough otherwise you will lose potential users due to bad design.
                          a.btn-landing.btn-lg(href="index.html" target="_blank") view demo
                .position-block    
                  .circle1.opicity3
                  .star
                    i.fa.fa-asterisk
                  .star.star1
                    i.fa.fa-asterisk
                  .star.star2.opicity3
                    i.fa.fa-asterisk
                  .star.star3  
                    i.fa.fa-times
                  .star.star4.opicity3
                    i.fa.fa-times
                  .star.star5.opicity3 
                    i.fa.fa-times
                  ul.animat-block
                    li
                      img.img-fluid.img-parten.top-parten(src="../assets/images/landing/landing-home/home-position/img-parten.png" alt="") 
                      div
                        img.img-fluid.img1.v-align-t.m-t-30(src="../assets/images/landing/landing-home/home-position/img-1.jpg" alt="")
                        img.img-fluid.img2.v-align-t(src="../assets/images/landing/landing-home/home-position/img-2.jpg" alt="")                   
                        img.img-fluid.img3.v-align-b(src="../assets/images/landing/landing-home/home-position/img-3.jpg" alt="")
                        img.img-fluid.img4.v-align-b(src="../assets/images/landing/landing-home/home-position/img-4.jpg" alt="")
                    li
                      div
                        img.img-fluid.img5(src="../assets/images/landing/landing-home/home-position/img-5.png" alt="")
                        img.img-fluid.img6.v-align-c(src="../assets/images/landing/landing-home/home-position/img-6.jpg" alt="")
                    li
                      img.img-fluid.img-parten.bottom-parten(src="../assets/images/landing/landing-home/home-position/img-parten.png" alt="") 
                      div
                        img.img-fluid.img7.v-align-t(src="../assets/images/landing/landing-home/home-position/img-7.jpg" alt="")
                        img.img-fluid.img8.v-align-t(src="../assets/images/landing/landing-home/home-position/img-8.jpg" alt="")
                        img.img-fluid.img9(src="../assets/images/landing/landing-home/home-position/img-9.jpg" alt="")
                  //- img.img-fluid(src="../assets/images/landing/landing-home/.jpg" alt="")             
              //home section end


              //demo section start
              section#demo.demo-section.section-py-space
                .title
                  h2 Creative Layouts
                .custom-container
                  .row.demo-block.demo-imgs
                    .col-lg-4.col-sm-6
                      .demo-box
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/demo/1.jpg" alt="")
                          .overlay
                            ul.demo-link.hover-link
                              li
                                a#default-demo(href="index.html" target='_blank' )
                                  img(src="../assets/images/landing/icon/html/html.png" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Default Layout
                    .col-lg-4.col-sm-6
                      .demo-box
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/demo/2.jpg" alt="")
                          .overlay
                            ul.demo-link
                              li
                                a#compact-demo(href="dashboard-02.html" target='_blank')
                                  img(src="../assets/images/landing/icon/html/html.png" alt="")                                                                
                        .demo-detail                        
                          .demo-title
                            h3 Compact Layout
                    .col-lg-4.col-sm-6.offset-sm-3.offset-lg-0
                      .demo-box
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/demo/3.jpg" alt="")
                          .overlay
                            ul.demo-link
                              li
                                a#modern-demo(href="general-widget.html" target='_blank')
                                  img(src="../assets/images/landing/icon/html/html.png" alt="")                             
                        .demo-detail                        
                          .demo-title
                            h3 Modern layout
              //demo section end


              //frameworks start
              section#framework.framework.section-py-space.light-bg
                .custom-container
                  .row                  
                    .col-sm-12.wow.pulse
                      .title                       
                        h2 Features                     
                      #pills-tabContent.tab-content
                        #pills-home.tab-pane.fade.show.active
                          ul.framworks-list
                            li.fadeInUp
                                div 
                                  img(src="../assets/images/landing/icon/laravel/bootstrap.png" alt="")
                                h6 Booxstrap 5
                            li.fadeInUp
                                div 
                                  img(src="../assets/images/landing/icon/html/css.png" alt="")
                                h6 CSS
                            li.fadeInUp
                                div 
                                  img(src="../assets/images/landing/icon/html/sass.png" alt="")
                                h6 Sass
                            li.fadeInUp
                                div 
                                  img(src="../assets/images/landing/icon/html/pug.png" alt="")
                                h6 Pug
                            li.fadeInUp
                                div 
                                  img(src="../assets/images/landing/icon/html/npm.png" alt="")
                                h6 NPM
                            li.fadeInUp
                                div 
                                  img(src="../assets/images/landing/icon/html/gulp.png" alt="")
                                h6 Gulp
                            li.bounceIn
                                div 
                                  img(src="../assets/images/landing/icon/html/kit.png" alt="")
                                h6 Starter Kit
                            li.bounceIn
                                div 
                                  img(src="../assets/images/landing/icon/html/uikits.png" alt="")
                                h6 40+ UI Kits
                            li.bounceIn
                                div 
                                  img(src="../assets/images/landing/icon/html/layout.png" alt="")
                                h6 8+ Layout
                            li.bounceIn
                                div 
                                  img(src="../assets/images/landing/icon/html/builders.png" alt="")
                                h6 Builders
                            li.bounceIn
                                div 
                                  img(src="../assets/images/landing/icon/html/iconset.png" alt="")
                                h6 11 Icon Sets
                            li.bounceIn
                                div 
                                  img(src="../assets/images/landing/icon/html/forms.png" alt="")
                                h6 Forms
                            li.bounceIn
                                div 
                                  img(src="../assets/images/landing/icon/html/table.png" alt="")
                                h6 Tables
                            li.bounceIn
                                div 
                                  img(src="../assets/images/landing/icon/html/apps.png" alt="")
                                h6 17+ Apps
                       
                         
              //frameworks end

              //unic-cards start
              section.unique-cards.section-py-space
                .title
                  h2 unique cards
                .custom-container
                  .row.unique-block
                    .col-lg-5.col-sm-6
                      .row
                        .col-md-12
                          .card
                            .img-wrraper
                              img.img-fluid.w-100(src="../assets/images/landing/unique-cards/1.jpg" alt="")
                        .col-md-12
                          .card
                            .img-wrraper
                              img.img-fluid.w-100(src="../assets/images/landing/unique-cards/2.jpg" alt="")
                        .col-md-12
                          .card
                            .img-wrraper
                              img.img-fluid.w-100(src="../assets/images/landing/unique-cards/3.jpg" alt="")
                        .col-md-12
                          .row
                            .col-lg-6.col-sm-12
                              .card
                                .img-wrraper
                                  img.img-fluid.w-100(src="../assets/images/landing/unique-cards/11.jpg" alt="")
                            .col-lg-6.col-sm-12
                              .card
                                .img-wrraper
                                  img.img-fluid.w-100(src="../assets/images/landing/unique-cards/12.jpg" alt="")
                    .col-lg-4.col-sm-6
                      .row
                        .col-md-12
                          .card
                              .img-wrraper
                                img.img-fluid.w-100(src="../assets/images/landing/unique-cards/4.jpg" alt="")
                        .col-md-12
                          .card
                            .img-wrraper
                              img.img-fluid.w-100(src="../assets/images/landing/unique-cards/5.jpg" alt="")
                    .col-lg-3.col-sm-12
                      .row
                        .col-lg-12.col-sm-5
                          .card
                            .img-wrraper
                              img.img-fluid.w-100(src="../assets/images/landing/unique-cards/6.jpg" alt="")
                        .col-lg-12.col-sm-7
                          .card
                            .img-wrraper
                              img.img-fluid.w-100(src="../assets/images/landing/unique-cards/9.jpg" alt="")
                        .col-lg-12.col-sm-6
                          .card
                            .img-wrraper
                              img.img-fluid.w-100(src="../assets/images/landing/unique-cards/7.jpg" alt="")
                        .col-lg-12.col-sm-6
                          .card
                            .img-wrraper
                              img.img-fluid.w-100(src="../assets/images/landing/unique-cards/8.jpg" alt="")
                        
              //unic-cards end

              //ecommerce pages start
              section.ecommerce-pages.section-py-space.light-bg
                .title
                  h2 Ecommerce Pages
                .custom-container
                  .row
                    .col-12
                      #owl-carousel-2.owl-carousel.owl-theme
                        .item
                          .pages-box
                            a(href="product.html" target="blank")
                              .img-wrraper
                                img.img-fluid(src='../assets/images/landing/inner-pages/1.jpg', alt='')
                              .page-detail
                                h3 Filters product
                        .item
                          .pages-box
                            a(href="payment-details.html" target="blank")
                              .img-wrraper
                                img.img-fluid(src='../assets/images/landing/inner-pages/2.jpg', alt='')
                              .page-detail
                                h3 payment details
                        .item
                          .pages-box
                            a(href="order-history.html" target="blank")
                              .img-wrraper
                                img.img-fluid(src='../assets/images/landing/inner-pages/3.jpg', alt='')
                              .page-detail
                                h3 order history
                        .item
                          .pages-box
                            a(href="invoice-template.html" target="blank")
                              .img-wrraper
                                img.img-fluid(src='../assets/images/landing/inner-pages/4.jpg', alt='')
                              .page-detail
                                h3 invoice
                        .item
                          .pages-box
                            a(href="cart.html" target="blank")
                              .img-wrraper
                                img.img-fluid(src='../assets/images/landing/inner-pages/5.jpg', alt='')
                              .page-detail
                                h3 cart
                        .item
                          .pages-box
                            a(href="list-wish.html" target="blank")
                              .img-wrraper
                                img.img-fluid(src='../assets/images/landing/inner-pages/6.jpg', alt='')
                              .page-detail
                                h3 wishlist
                        .item
                          .pages-box
                            a(href="checkout.html" target="blank")
                              .img-wrraper
                                img.img-fluid(src='../assets/images/landing/inner-pages/7.jpg', alt='')
                              .page-detail
                                h3 checkout
                        .item
                          .pages-box
                            a(href="pricing.html" target="blank")
                              .img-wrraper
                                img.img-fluid(src='../assets/images/landing/inner-pages/8.jpg', alt='')
                              .page-detail
                                h3 pricing

              //Ecommerce pages end
              


              //Applications start
              section#Applications.demo-section.section-py-space
                .title
                  h2 Usefull application
                .custom-container
                  .row.demo-block
                    .col-xl-3.col-lg-4.col-sm-6.wow.fadeIn
                      .demo-box
                        a(href="social-app.html" target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/1.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 Social App
                    .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                      .demo-box
                        a(href="knowledgebase.html" target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/2.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 Knowledgebase
                    .col-xl-3.col-lg-4.col-sm-6.wow.fadeIn
                      .demo-box
                        a(href='support-ticket.html' target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/3.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 Support Ticket
                    .col-xl-3.col-lg-4.col-sm-6.wow.fadeIn
                      .demo-box
                        a(href="email_inbox.html" target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/4.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 Email Dashboard
                    .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                      .demo-box
                        a(href='to-do.html' target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/5.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 To-Do
                    .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                      .demo-box
                        a(href="job-cards-view.html" target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/6.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 Job Search
                    .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                      .demo-box
                        a(href="product-page.html" target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/7.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 Ecommerce
                    .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                      .demo-box
                        a(href="kanban.html" target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/8.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 Kanban
                    .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                      .demo-box
                        a(href="file-manager.html" target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/9.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 File Manager
                    .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                      .demo-box
                        a(href="projects.html" target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/10.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 Project
                    .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                      .demo-box
                        a(href="contacts.html" target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/11.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 Contacts
                    .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                      .demo-box
                        a(href="chat.html" target="_blank")
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/application/12.jpg" alt="")
                          .demo-detail                        
                            .demo-title
                              h3 Chat
              //Applications end


              //Core Feature start
              section#core-feature.core-feature.section-py-space.bg-white
                .title
                  h2 Core Feature
                .custom-container
                  .row.feature-block
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="alert-octagon")
                          h6 SweetAlert2
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="users")
                          h6 Avatar
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="thermometer")
                          h6 Scrollable
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="command")
                          h6 Tree view
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="bold")                         
                          h6 Bootstrap notify
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="star")
                          h6 Rating 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="droplet")
                          h6 Dropzone
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="map-pin")
                          h6 Tour
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="codepen")
                          h6 Animated modal
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="book-open")
                          h6 Owl Carousel
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="tag")
                          h6 Ribbons 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="more-horizontal")
                          h6 Pagination 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="skip-forward")
                          h6 Steps 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="bookmark")
                          h6 Breadcrumb  
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="sliders")
                          h6 Range Slider 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="crop")
                          h6 image cropper 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="file")
                          h6 Sticky 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="loader")
                          h6 Progress 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="feather")
                          h6 Tooltip 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="target")
                          h6 Spinners 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="chevron-down")
                          h6 Dropdown 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="copy")
                          h6 Tabs 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="map")
                          h6 Accordion  
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="align-justify")
                          h6 Navs
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="airplay")
                          h6 Shadow
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="gitlab")
                          h6 state color
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="list")
                          h6 List  
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="grid")
                          h6 Grid 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="help-circle")
                          h6 Helper classes 
                    .col-xl-2.col-md-4.col-6
                      .feature-box
                        div
                          .icon-wrraper
                            i(data-feather="type")
                          h6 Typography
              //Core Feature end



              //footer start
              section#footer.landing-footer.section-py-space.light-bg
                .custom-container
                  .row
                    .col-12
                      .footer-contain
                        .rating-wrraper
                          svg(enable-background='new 0 0 512 512' viewbox='0 0 512 512'  xmlns='http://www.w3.org/2000/svg')
                              g
                                path(d='m323.686 231.62h25.519c11.892 0 21.533 9.641 21.533 21.533v16.135c0 11.892-9.641 21.533-21.533 21.533h-25.519z' fill='#ffb09e')
                                path(d='m188.613 231.62h-25.519c-11.892 0-21.533 9.641-21.533 21.533v16.135c0 11.892 9.641 21.533 21.533 21.533h25.519z' fill='#f89580')
                                g
                                  path(d='m261.623 3.405 10.754 21.79c.889 1.802 2.608 3.05 4.596 3.339l24.047 3.494c5.007.728 7.006 6.88 3.383 10.412l-17.4 16.961c-1.439 1.402-2.095 3.423-1.756 5.403l4.108 23.95c.855 4.987-4.379 8.789-8.857 6.435l-21.508-11.308c-1.778-.935-3.903-.935-5.681 0l-21.508 11.307c-4.478 2.354-9.712-1.448-8.857-6.435l4.108-23.95c.34-1.98-.317-4.001-1.756-5.403l-17.4-16.961c-3.623-3.531-1.624-9.684 3.383-10.412l24.047-3.494c1.988-.289 3.707-1.538 4.596-3.339l10.754-21.79c2.239-4.536 8.708-4.536 10.947.001z' fill='#ffe177')
                                g
                                  path(d='m271.606 23.627-.773 1.566c-.886 1.803-2.607 3.05-4.596 3.339l-24.05 3.493c-5.008.732-7.007 6.883-3.38 10.417l17.404 16.961c1.432 1.401 2.092 3.421 1.752 5.399l-3.184 18.537c-.515.113-1.01.299-1.473.546l-21.505 11.304c-4.482 2.349-9.717-1.453-8.861-6.44l4.111-23.947c.34-1.978-.319-3.998-1.752-5.399l-17.404-16.961c-3.627-3.534-1.628-9.686 3.38-10.417l24.05-3.493c1.989-.289 3.709-1.535 4.596-3.339l10.757-21.793c2.236-4.534 8.707-4.534 10.943 0z' fill='#ffd15b')
                                g
                                  path(d='m361.831 3.405 10.754 21.79c.889 1.802 2.608 3.05 4.596 3.339l24.047 3.494c5.007.728 7.006 6.88 3.383 10.412l-17.4 16.961c-1.439 1.402-2.095 3.423-1.756 5.403l4.108 23.95c.855 4.987-4.379 8.789-8.857 6.435l-21.508-11.307c-1.778-.935-3.903-.935-5.681 0l-21.508 11.307c-4.478 2.354-9.712-1.448-8.857-6.435l4.108-23.95c.34-1.98-.317-4.001-1.756-5.403l-17.4-16.961c-3.623-3.531-1.624-9.684 3.383-10.412l24.047-3.494c1.988-.289 3.707-1.538 4.596-3.339l10.754-21.79c2.238-4.537 8.708-4.537 10.947 0z' fill='#ffe177')
                                g
                                  path(d='m371.813 23.627-.773 1.566c-.886 1.803-2.607 3.05-4.596 3.339l-24.05 3.493c-5.008.732-7.007 6.883-3.38 10.417l17.404 16.961c1.432 1.401 2.092 3.421 1.752 5.399l-3.184 18.537c-.505.113-.999.299-1.473.546l-21.505 11.304c-4.482 2.349-9.717-1.453-8.862-6.44l4.111-23.947c.34-1.978-.319-3.998-1.752-5.399l-17.404-16.961c-3.627-3.534-1.628-9.686 3.38-10.417l24.05-3.493c1.989-.289 3.71-1.535 4.596-3.339l10.758-21.793c2.236-4.534 8.707-4.534 10.943 0z' fill='#ffd15b')
                                g
                                  path(d='m439.455 65.23 10.754 21.79c.889 1.802 2.608 3.05 4.596 3.339l24.047 3.494c5.007.728 7.006 6.88 3.383 10.412l-17.4 16.961c-1.439 1.402-2.095 3.423-1.756 5.403l4.108 23.95c.855 4.987-4.379 8.789-8.857 6.435l-21.508-11.307c-1.778-.935-3.903-.935-5.681 0l-21.508 11.307c-4.478 2.354-9.712-1.448-8.857-6.435l4.108-23.95c.34-1.98-.317-4.001-1.756-5.403l-17.4-16.961c-3.623-3.531-1.624-9.684 3.383-10.412l24.047-3.494c1.988-.289 3.707-1.538 4.596-3.339l10.754-21.79c2.239-4.537 8.708-4.537 10.947 0z' fill='#ffe177')
                                g
                                  path(d='m449.434 85.452-.773 1.566c-.886 1.803-2.607 3.05-4.596 3.339l-24.04 3.493c-5.008.732-7.007 6.883-3.39 10.417l17.404 16.961c1.442 1.401 2.091 3.421 1.752 5.399l-3.174 18.537c-.505.113-.999.299-1.473.546l-21.515 11.304c-4.472 2.349-9.706-1.453-8.851-6.44l4.101-23.947c.34-1.978-.309-3.998-1.752-5.399l-17.404-16.961c-3.617-3.534-1.618-9.686 3.39-10.417l24.04-3.493c1.989-.289 3.709-1.535 4.596-3.339l10.757-21.793c2.236-4.534 8.707-4.534 10.953 0z' fill='#ffd15b')
                                g
                                  path(d='m83.492 65.23 10.754 21.79c.889 1.802 2.608 3.05 4.596 3.339l24.047 3.494c5.007.728 7.006 6.88 3.383 10.412l-17.4 16.961c-1.439 1.402-2.095 3.423-1.756 5.403l4.108 23.95c.855 4.987-4.379 8.789-8.857 6.435l-21.508-11.307c-1.778-.935-3.903-.935-5.681 0l-21.508 11.306c-4.478 2.354-9.712-1.448-8.857-6.435l4.108-23.95c.34-1.98-.317-4.001-1.756-5.403l-17.4-16.961c-3.623-3.531-1.624-9.684 3.383-10.412l24.047-3.494c1.988-.289 3.707-1.538 4.596-3.339l10.754-21.79c2.239-4.536 8.708-4.536 10.947.001z' fill='#ffe177')
                                g
                                  path(d='m93.479 85.462-.773 1.556c-.896 1.803-2.607 3.05-4.596 3.339l-24.05 3.493c-5.008.732-7.007 6.883-3.38 10.417l17.393 16.961c1.443 1.401 2.102 3.421 1.762 5.399l-3.184 18.537c-.505.113-.999.299-1.474.546l-21.505 11.304c-4.482 2.349-9.717-1.453-8.861-6.44l4.111-23.947c.34-1.978-.319-3.998-1.762-5.399l-17.393-16.961c-3.627-3.534-1.628-9.686 3.38-10.417l24.05-3.493c1.989-.289 3.699-1.535 4.596-3.339l10.747-21.793c2.246-4.534 8.717-4.534 10.953 0z' fill='#ffd15b')
                                g
                                  path(d='m161.416 3.405 10.754 21.79c.889 1.802 2.608 3.05 4.596 3.339l24.047 3.494c5.007.728 7.006 6.88 3.383 10.412l-17.4 16.961c-1.439 1.402-2.095 3.423-1.756 5.403l4.108 23.95c.855 4.987-4.379 8.789-8.857 6.435l-21.508-11.307c-1.778-.935-3.903-.935-5.681 0l-21.508 11.307c-4.478 2.354-9.712-1.448-8.857-6.435l4.108-23.95c.34-1.98-.317-4.001-1.756-5.403l-17.4-16.961c-3.623-3.531-1.624-9.684 3.383-10.412l24.047-3.494c1.988-.289 3.707-1.538 4.596-3.339l10.754-21.79c2.239-4.537 8.708-4.537 10.947 0z' fill='#ffe177')
                                g
                                  path(d='m171.398 23.627-.773 1.566c-.886 1.803-2.607 3.05-4.596 3.339l-24.05 3.493c-5.008.732-7.007 6.883-3.38 10.417l17.404 16.961c1.432 1.401 2.092 3.421 1.752 5.399l-3.184 18.537c-.505.113-.999.299-1.473.546l-21.505 11.304c-4.482 2.349-9.717-1.453-8.861-6.44l4.111-23.947c.34-1.978-.319-3.998-1.752-5.399l-17.404-16.961c-3.627-3.534-1.628-9.686 3.38-10.417l24.05-3.493c1.989-.289 3.709-1.535 4.596-3.339l10.758-21.793c2.236-4.534 8.707-4.534 10.943 0z' fill='#ffd15b')
                                path(d='m393.086 438.162-72.923-24.944-18.828 13.56h-90.372l-18.828-13.56-72.923 24.944c-17.193 5.881-28.746 22.042-28.746 40.214v33.622h133.676l32.007-10 32.007 10h133.676v-33.622c0-18.171-11.552-34.333-28.746-40.214z' fill='#8ac9fe')
                                path(d='m192.136 423.789-42.015 14.372c-17.187 5.884-28.738 22.04-28.738 40.217v33.622h-30.913v-33.622c0-18.176 11.551-34.333 28.738-40.217l72.927-24.945 9.489 2z' fill='#60b7ff')
                                path(d='m301.364 331.472v85.364l-45.214 24.045-45.215-24.045v-50.392l.031-34.972z' fill='#ffb09e')
                                path(d='m266.454 433.122-10.304 7.759-45.215-24.045v-50.392l.031-34.972h20.608l-.031 34.972v40.392z' fill='#f89580')
                                path(d='m301.364 331.472v58.455c-11.932 5.657-25.255 8.81-39.3 8.81h-11.829c-14.044 0-27.368-3.153-39.3-8.81v-23.483l.031-34.972z' fill='#f89580')
                                path(d='m178.613 192.427v114.088c0 39.553 32.064 71.617 71.617 71.617h11.838c39.553 0 71.617-32.064 71.617-71.617v-114.088c0-12.113-9.819-21.932-21.932-21.932h-111.208c-12.112 0-21.932 9.819-21.932 21.932z' fill='#ffcebf')
                                path(d='m266.454 377.995c-1.453.093-2.916.134-4.39.134h-11.829c-39.557 0-71.624-32.066-71.624-71.613v-94.087c0-12.118 9.82-21.937 21.937-21.937h20.608c-12.118 0-21.937 9.82-21.937 21.937v94.087c.001 38.073 29.718 69.212 67.235 71.479z' fill='#ffb09e')
                                g
                                  g
                                    path(d='m222.782 278.835c-4.269 0-7.728-3.46-7.728-7.728v-10.144c0-4.268 3.46-7.728 7.728-7.728s7.728 3.46 7.728 7.728v10.144c0 4.268-3.459 7.728-7.728 7.728z' fill='#68748f')
                                g
                                  g
                                    path(d='m289.365 278.835c-4.269 0-7.728-3.46-7.728-7.728v-10.144c0-4.268 3.46-7.728 7.728-7.728s7.728 3.46 7.728 7.728v10.144c0 4.268-3.459 7.728-7.728 7.728z' fill='#68748f')
                                g
                                  path(d='m256.15 340.239c-14.948 0-27.109-12.161-27.109-27.109 0-4.268 3.46-7.728 7.728-7.728s7.728 3.46 7.728 7.728c0 6.425 5.228 11.653 11.652 11.653 6.425 0 11.652-5.228 11.652-11.653 0-4.268 3.46-7.728 7.728-7.728 4.269 0 7.728 3.46 7.728 7.728.001 14.948-12.159 27.109-27.107 27.109z' fill='#f89580')
                                path(d='m256.15 440.886-22.15 3.781-9.857 15.769 16.003 19.555h32.007l16.003-19.555-9.156-14.769z' fill='#68748f')
                                path(d='m244.753 460.438 16.003 19.557h-20.609l-16.002-19.557 9.855-15.771 22.15-3.786 16.129 3.379-5.825 2.917z' fill='#5d6980')
                                path(d='m240.146 479.991-16.003 32.007h64.013l-16.003-32.007z' fill='#68748f')
                                path(d='m260.756 479.995-16.003 32.005h-20.608l16.002-32.005z' fill='#5d6980')
                                path(d='m210.935 406.836 45.214 34.045-53.364 32.604c-4.664 2.85-10.65-.507-10.65-5.973v-54.293z' fill='#eaf6ff')
                                path(d='m301.364 406.836-45.214 34.045 53.364 32.604c4.664 2.85 10.65-.507 10.65-5.973v-54.293z' fill='#eaf6ff')
                                path(d='m349.48 231.62h-20.688c-22.567 0-42.507-14.686-49.201-36.237l-4.747-15.283-16.89 27.188c-9.4 15.131-25.95 24.333-43.763 24.333h-51.371v-42.055c0-34.145 27.68-61.825 61.825-61.825h63.012c34.145 0 61.825 27.68 61.825 61.825v42.054z' fill='#68748f')
                                path(d='m224.64 127.744h30.912c-34.137 0-61.825 27.677-61.825 61.825v42.051h-30.912v-42.051c0-34.149 27.687-61.825 61.825-61.825z' fill='#5d6980')
                        h2 The viho Bootstrap Admin Theme Trusted By Many Developers World Wide.
                        p If You like Our Theme So Please Rate Us.
                        ul.star-rate
                          li
                            i.fa.fa-star.font-warning
                          li
                            i.fa.fa-star.font-warning
                          li
                            i.fa.fa-star.font-warning
                          li
                            i.fa.fa-star.font-warning
                          li
                            i.fa.fa-star.font-warning
                        .btn-footer
                          a(class="btn btn-lg btn-primary" target="_blank" href="index.html" data-bs-original-title="" title="") Check Now
                          a(class="btn btn-lg btn-secondary" target="_blank" href="https://themeforest.net/checkout/79615193/create_account" data-bs-original-title="" title="") Buy Now
                          a(class="btn btn-lg btn-warning" target="_blank" href="https://themeforest.net/downloads" data-bs-original-title="" title="") Rate Us
              .sub-footer
                .custom-container
                    .row
                      .col-md-6.col-sm-2
                        .footer-contain
                          img.img-fluid(src="../assets/images/logo/logo.png" alt="")
                      .col-md-6.col-sm-10
                        .footer-contain
                          p.mb-0 Copyright 2021-22 © viho All rights reserved.                       
              //footer end
               
    

        include ../../components/footer-files