- var theme_customizer   = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        #pageWrapper.page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.horizontal-menu
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-sm-6
                                    h3
                                        | Learning List
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         | Home
                                      li.breadcrumb-item Learning
                                      li.breadcrumb-item.active Learning List
                                .col-sm-6
                                   include ../../components/bookmark
                    // Container-fluid starts
                    .container-fluid
                        .row.learning-block
                          .col-xl-9.xl-60
                            .row
                              .col-xl-12.col-sm-6
                                .card
                                  .blog-box.blog-list.row
                                    .col-xl-5.col-12
                                      img.img-fluid.sm-100-w(src='../assets/images/faq/1.jpg', alt='')
                                    .col-xl-7.col-12
                                      .blog-details
                                        .blog-date
                                          span 05
                                          |  January 2021
                                        a(href="learning-detailed.html")
                                          h6 Java Language 
                                        .blog-bottom-content
                                          ul.blog-social
                                            li by: Paige Turner
                                            li 15 Hits
                                          hr
                                          p.mt-0
                                            | inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit.inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit.inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                              .col-xl-12.col-sm-6
                                .card
                                  .blog-box.blog-list.row
                                    .col-xl-5.col-12
                                      img.img-fluid.sm-100-w(src='../assets/images/faq/2.jpg', alt='')
                                    .col-xl-7.col-12
                                      .blog-details
                                        .blog-date
                                          span 10
                                          |  March 2019
                                        a(href="learning-detailed.html")
                                          h6 Web Development 
                                        .blog-bottom-content
                                          ul.blog-social
                                            li by: Petey Cruiser
                                            li 34 Hits
                                          hr
                                          p.mt-0
                                            | inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit.inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit.inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                              .col-xl-4.xl-50.col-sm-6.box-col-6
                                .card
                                  .product-box.learning-box
                                    .product-img
                                      img.img-fluid.top-radius-blog(src='../assets/images/faq/3.jpg', alt='')
                                      .product-hover
                                        ul
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-link
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-import
                                    .details-main
                                      a(href="learning-detailed.html")                                        
                                        .bottom-details 
                                          h6 Web Devlopment.
                                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
                              .col-xl-4.xl-50.col-sm-6.box-col-6
                                .card
                                  .product-box.learning-box
                                    .product-img
                                      img.img-fluid.top-radius-blog(src='../assets/images/faq/1.jpg', alt='')
                                      .product-hover
                                        ul
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-link
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-import
                                    .details-main
                                      a(href="learning-detailed.html")                                        
                                        .bottom-details 
                                          h6 Web Design.
                                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
                              .col-xl-4.xl-50.col-sm-6.box-col-6
                                .card
                                  .product-box.learning-box
                                    .product-img
                                      img.img-fluid.top-radius-blog(src='../assets/images/faq/4.jpg', alt='')
                                      .product-hover
                                        ul
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-link
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-import
                                    .details-main
                                      a(href="learning-detailed.html")                                        
                                        .bottom-details 
                                          h6 UX Development.
                                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
                              .col-xl-4.xl-50.col-sm-6.box-col-6
                                .card
                                  .product-box.learning-box
                                    .product-img
                                      img.img-fluid.top-radius-blog(src='../assets/images/faq/2.jpg', alt='')
                                      .product-hover
                                        ul
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-link
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-import
                                    .details-main
                                      a(href="learning-detailed.html")                                        
                                        .bottom-details 
                                          h6 Spoken English
                                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
                              .col-xl-4.xl-50.col-sm-6.box-col-6
                                .card
                                  .product-box.learning-box
                                    .product-img
                                      img.img-fluid.top-radius-blog(src='../assets/images/faq/4.jpg', alt='')
                                      .product-hover
                                        ul
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-link
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-import
                                    .details-main
                                      a(href="learning-detailed.html")                                        
                                        .bottom-details 
                                          h6 Web Devlopment.
                                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
                              .col-xl-4.xl-50.col-sm-6.box-col-6
                                .card
                                  .product-box.learning-box
                                    .product-img
                                      img.img-fluid.top-radius-blog(src='../assets/images/faq/3.jpg', alt='')
                                      .product-hover
                                        ul
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-link
                                          li
                                            a(href="learning-detailed.html")
                                              i.icon-import
                                    .details-main
                                      a(href="learning-detailed.html")                                        
                                        .bottom-details 
                                          h6 Advance Design.
                                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
                          .col-xl-3.xl-40
                            .job-sidebar
                              a.btn.btn-primary.job-toggle(href="javascript:void(0)")
                                | learning filter
                              .job-left-aside.custom-scrollbar
                                #accordionoc.default-according.style-1.faq-accordion.job-accordion
                                  .row
                                    .col-xl-12
                                      .card
                                        .card-header
                                          h5.mb-0.p-0
                                            button.btn.btn-link(data-bs-toggle='collapse', data-bs-target='#collapseicon', aria-expanded='true', aria-controls='collapseicon') Find Course
                                        #collapseicon.collapse.show(aria-labelledby='collapseicon', data-bs-parent='#accordion')
                                          .card-body.filter-cards-view.animate-chk
                                            .job-filter
                                              .faq-form
                                                input.form-control(type='text', placeholder='Search..')
                                                i.search-icon(data-feather='search')
                                            .checkbox-animated
                                              .learning-header
                                                span.f-w-600 Categories
                                              label.d-block(for='chk-ani')
                                                input#chk-ani.checkbox_animated(type='checkbox')
                                                |                       Accounting
                                              label.d-block(for='chk-ani0')
                                                input#chk-ani0.checkbox_animated(type='checkbox')
                                                |                             Design
                                              label.d-block(for='chk-ani1')
                                                input#chk-ani1.checkbox_animated(type='checkbox')
                                                |                             Development
                                              label.d-block(for='chk-ani2')
                                                input#chk-ani2.checkbox_animated(type='checkbox')
                                                |                             Management
                                            .checkbox-animated.mt-0
                                              .learning-header
                                                span.f-w-600 Duration
                                              label.d-block(for='chk-ani6')
                                                input#chk-ani6.checkbox_animated(type='checkbox')
                                                |                             0-50 hours
                                              label.d-block(for='chk-ani7')
                                                input#chk-ani7.checkbox_animated(type='checkbox')
                                                |                             50-100 hours
                                              label.d-block(for='chk-ani8')
                                                input#chk-ani8.checkbox_animated(type='checkbox')
                                                |                             100+ hours
                                            .checkbox-animated.mt-0
                                              .learning-header
                                                span.f-w-600 Price
                                              label.d-block(for='edo-ani')
                                                input#edo-ani.radio_animated(type='radio', name='rdo-ani', checked='')
                                                |                             All Courses
                                              label.d-block(for='edo-ani1')
                                                input#edo-ani1.radio_animated(type='radio', name='rdo-ani', checked='')
                                                |                             Paid Courses
                                              label.d-block(for='edo-ani2')
                                                input#edo-ani2.radio_animated(type='radio', name='rdo-ani', checked='')
                                                |                             Free Courses
                                            .checkbox-animated.mt-0
                                              .learning-header
                                                span.f-w-600 Status
                                              label.d-block(for='chk-ani3')
                                                input#chk-ani3.checkbox_animated(type='checkbox')
                                                |                             Registration
                                              label.d-block(for='chk-ani4')
                                                input#chk-ani4.checkbox_animated(type='checkbox')
                                                |                             Progress
                                              label.d-block(for='chk-ani5')
                                                input#chk-ani5.checkbox_animated(type='checkbox')
                                                |                             Completed
                                            button.btn.btn-primary.text-center(type='button') Filter
                                    .col-xl-12
                                      .card
                                        .card-header
                                          h5.mb-0.p-0
                                            button.btn.btn-link(data-bs-toggle='collapse', data-bs-target='#collapseicon1', aria-expanded='true', aria-controls='collapseicon1') Categories
                                        #collapseicon1.collapse.show(aria-labelledby='collapseicon1', data-bs-parent='#accordion')
                                          .categories
                                            .learning-header
                                              span.f-w-600 Design
                                            ul
                                              li
                                                a(href='#') UI Design 
                                                span.badge.badge-primary.pull-right 28
                                              li
                                                a(href='#') UX Design 
                                                span.badge.badge-primary.pull-right 35
                                              li
                                                a(href='#') Interface Design 
                                                span.badge.badge-primary.pull-right 17
                                              li
                                                a(href='#') User Experience 
                                                span.badge.badge-primary.pull-right 26
                                          .categories.pt-0
                                            .learning-header
                                              span.f-w-600 Development
                                            ul
                                              li
                                                a(href='#') Frontend Development
                                                span.badge.badge-primary.pull-right 48
                                              li
                                                a(href='#') Backend Development
                                                span.badge.badge-primary.pull-right 19
                                    .col-xl-12
                                      .card
                                        .card-header
                                          h5.mb-0.p-0
                                            button.btn.btn-link(data-bs-toggle='collapse', data-bs-target='#collapseicon2', aria-expanded='true', aria-controls='collapseicon2') Upcoming Courses
                                        #collapseicon2.collapse.show(aria-labelledby='collapseicon2', data-bs-parent='#accordion')
                                          .upcoming-course.card-body
                                            .media
                                              .media-body
                                                span.f-w-600 UX Development
                                                h6
                                                  | Course By 
                                                  a(href='#')  Lorem ipsum
                                                ul.rating
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star-half-o.font-warning
                                              div
                                                h5.mb-0.p-0.font-primary 18
                                                span.d-block Dec
                                            .media
                                              .media-body
                                                span.f-w-600 Business Analyst
                                                h6
                                                  | Course By 
                                                  a(href='#') Lorem ipsum 
                                                ul.rating
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star-half-o.font-warning
                                              div
                                                h5.mb-0.p-0.font-primary 28
                                                span.d-block Dec
                                            .media
                                              .media-body
                                                span.f-w-600 Web Development
                                                h6
                                                  | Course By 
                                                  a(href='#') Lorem ipsum 
                                                ul.rating
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star.font-warning
                                                  li
                                                    i.fa.fa-star-half-o.font-warning
                                              div
                                                h5.mb-0.p-0.font-primary 5
                                                span.d-block Jan
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files