- var theme_customizer      = true;
- var page_datatable        = true;
- var datatable             = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        #pageWrapper.page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.horizontal-menu
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-sm-6
                                  .page-header-left
                                    h3 Wishlist
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                          a(href='index.html')
                                            | Home
                                        li.breadcrumb-item Pages    
                                        li.breadcrumb-item Ecommerce
                                        li.breadcrumb-item.active Wishlist
                                .col-sm-6
                                  include ../../components/bookmark
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header.pb-0
                              h5 Wishlist
                            .card-body.whishlist-main
                              .row
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/01.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/02.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/03.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart      
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/04.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/05.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/06.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/05.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/07.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/08.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/01.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/02.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                                .col-xl-2.col-md-4.col-sm-6
                                  .prooduct-details-box                                  
                                    .media
                                      a(href="product-page.html")
                                        img.align-self-center.img-fluid(src='../assets/images/ecommerce/03.jpg', alt='#')
                                      .media-body
                                        .product-name
                                          a(href="product-page.html")
                                            h6 Fancy Women's Cotton
                                        ul.rating
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                          li
                                            i.fa.fa-star
                                        .price
                                          | Price
                                          span : 210$
                                        .avaiabilty
                                          .text-success In stock
                                        a.btn.btn-primary.btn-xs(href="#") Move to Cart
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
