/**=====================
 77. Print CSS Start
==========================**/
@media print {
  .page-wrapper .page-main-header {
    visibility: hidden; }
  .page-wrapper .page-body-wrapper .page-header {
    display: none; }
  table.fixedHeader-floating {
    display: none; } }

.invoice-table {
  margin-top: 16px;
  margin-bottom: 16px; }

.invoice .text-end input {
  margin-top: 6px; }

.invoice .media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/**=====================
 77. Print CSS Ends
==========================**/
