// Bookmark Start
.bookmark
    ul
        li
            a(href='javascript:void(0)' data-container='body', data-bs-toggle='popover', data-placement='top', title='', data-original-title='Tables')
                i(data-feather='inbox')
        li
            a(href='javascript:void(0)' data-container='body', data-bs-toggle='popover', data-placement='top', title='', data-original-title='Chat')
                i(data-feather='message-square')
        li
            a(href='javascript:void(0)' data-container='body', data-bs-toggle='popover', data-placement='top', title='', data-original-title='Icons')
                i(data-feather='command')
        li
            a(href='javascript:void(0)' data-container='body', data-bs-toggle='popover', data-placement='top', title='', data-original-title='Learning')
                i(data-feather='layers')
        li
            a(href='javascript:void(0)')
                i.bookmark-search(data-feather='star')
            form.form-inline.search-form
                .form-group.form-control-search
                    input(type='text', placeholder='Search..')
// Bookmark Ends
