// Page Sidebar Start
- var status = (sidebar_open ? 'open' : '');
- var themify = true;

#myScrollspy.page-sidebar.document-sidebar.custom-scrollbar(class=status)
    .logo-wrapper
      a(href='index.html')
        img.img-fluid(src='../assets/images/logo/logo.png', alt='')
    ul.custom-scrollbar.document-menu
      li.nav-item
        a.nav-link.menu-title.active(href='#section1', data-original-title='', title='') Introduction
      li.nav-item
        a.nav-link.menu-title(href='#section2', data-original-title='', title='') Getting started
      li.nav-item
        a.nav-link.menu-title(href='#section3', data-original-title='', title='') Options
      li.nav-item
        a.nav-link.menu-title(href='#section4', data-original-title='', title='') Components
        ul.nav-submenu.set-padding
          li.nav-item
            a.nav-link(href='#section41', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |  Basic
              |                                 UI Elements
          li.nav-item
            a.nav-link(href='#section42', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              | Advance
              |                                 UI Elements
          li.nav-item
            a.nav-link(href='#section43', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Animations
          li.nav-item
            a.nav-link(href='#section44', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Icons
          li.nav-item
            a.nav-link(href='#section45', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |  Forms
          li.nav-item
            a.nav-link(href='#section46', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |  Tables
          li.nav-item
            a.nav-link(href='#section47', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Cards
          li.nav-item
            a.nav-link(href='#section48', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Timeline
          li.nav-item
            a.nav-link(href='#section49', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Charts
          li.nav-item
            a.nav-link(href='#section410', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 maps
          li.nav-item
            a.nav-link(href='#section411', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Editors
      li.nav-item
        a.nav-link.menu-title(href='#section5', data-original-title='', title='') Apps
        ul.nav-submenu.set-padding
          li.nav-item
            a.nav-link(href='#section51', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |  Users
          li.nav-item
            a.nav-link(href='#section52', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              | Calenders
          li.nav-item
            a.nav-link(href='#section53', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Galllery
          li.nav-item
            a.nav-link(href='#section54', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Email
          li.nav-item
            a.nav-link(href='#section55', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Blog
          li.nav-item
            a.nav-link(href='#section56', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Chat
          li.nav-item
            a.nav-link(href='#section57', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Support Ticket
          li.nav-item
            a.nav-link(href='#section58', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 To-Do
          li.nav-item
            a.nav-link(href='#section59', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Landing Page
          li.nav-item
            a.nav-link(href='#section510', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Ecommerce
          li.nav-item
            a.nav-link(href='#section511', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Pricing
      li.nav-item
        a.nav-link.menu-title(href='#section6', data-original-title='', title='') Builder
        ul.nav-submenu.set-padding
          li.nav-item
            a.nav-link(href='#section61', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |  Page
              |                                 builder
          li.nav-item
            a.nav-link(href='#section62', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              | Form
              |                                 Builder
          li.nav-item
            a.nav-link(href='#section63', data-original-title='', title='')
              i.fa.fa-angle-right.pull-left
              |                                 Button builder
      li.nav-item
        a.nav-link.menu-title(href='#section7', data-original-title='', title='') Credits

// Page Sidebar Ends