// Page Sidebar Start
header.main-nav
  nav
    .main-navbar
      #mainnav
        ul.nav-menu.custom-scrollbar
          li.back-btn
            .mobile-back.text-end
              span Back
              i.fa.fa-angle-right.ps-2(aria-hidden='true')
          li.dropdown
            a.nav-link.menu-title(href='../theme/index.html', target='_blank')
              i(data-feather='home')
              span Dashboard
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='anchor')
              span Starter kit
            ul.nav-submenu.menu-content
              li
                a.submenu-title(href='javascript:void(0)')
                  | color version
                  span.sub-arrow
                    i.fa.fa-chevron-right
                ul.nav-sub-childmenu.submenu-content
                  li
                    a(href='index.html') Layout Light
                  li
                    a(href='layout-dark.html') Layout Dark
              li      
                a.submenu-title(href='javascript:void(0)')
                  | Page layout
                  span.sub-arrow
                    i.fa.fa-chevron-right
                ul.nav-sub-childmenu.submenu-content
                  li
                    a(href='boxed.html') Boxed
                  li
                    a(href='layout-rtl.html') RTL             
              li      
                a.submenu-title(href='javascript:void(0)')
                  | Footers
                  span.sub-arrow
                    i.fa.fa-chevron-right
                ul.nav-sub-childmenu.submenu-content
                  li
                    a(href='footer-light.html') Footer Light
                  li
                    a(href='footer-dark.html') Footer Dark
                  li
                    a(href='footer-fixed.html') Footer Fixed
          li.dropdown
            a.nav-link.menu-title(href='http://support.pixelstrap.com/help-center', target='_blank')
              i(data-feather='headphones')
              span Raise Support
          li.dropdown
            a.nav-link.menu-title(href='https://docs.pixelstrap.com/viho/document/', target='_blank')
              i(data-feather='file-text')
              span Documentation                                    
// Page Sidebar Ends