{% extends "main/base.html" %}
{% block content %}
{% load static %}
<!-- Inner Banner -->
<section class="bg-dark bg-img position-relative inner-banner py-5"
  style="background-image: url('{% static 'main/images/contact_us-bg-01.jpg' %}');">
  <div class="bg_overlay bg-dark d-none"></div>
  <div class="container">
    <div class="inner-banner-wrap d-table w-100">
      <div class="inner-banner-content d-table-cell align-middle w-100 text-center text-white">
        <div class="row">
          <div class="col-12">
            <h2 class="h1 mb-2">Contact Us</h2>
            <nav aria-label="breadcrumb" class="d-flex justify-content-center">
              <ol class="breadcrumb bg-transparent m-0 p-0">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Banner / END -->

<!-- Contact Form -->
<div class="contact_us py-100-70">
  <div class="container">
    <div class="section-title text-center mb-50">
      <h6 class="h5 font-weight-lighter">Get in Touch</h6>
      <h2 class="h1 mb-3">Schedule Meeting</h2>
      <div class="border-title"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-9 col-xl-8 col-12 mb-30">
        <form class="contact_form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" placeholder="Your Email">
            </div>
            <div class="col-md-12 form-group">
              <select class="form-control">
                <option>Reason for Contact</option>
                <option>Business Planning</option>
                <option>Financial Consulting</option>
                <option>Business Planning</option>
              </select>
            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control" placeholder="Your Message"></textarea>
            </div>
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-form rounded-pill py-2 px-5">Submit Now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Contact Form / END -->
{% endblock content %}