{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class="hiro_benner_slider h-100 position-relative">
  <div class="item h-100 bg-img" style="background-image: url('{% static 'main/images/home.jpeg' %}');">
    <div class="d-table h-100vh mx-h-1080 w-100">
      <div class="d-table-cell align-middle w-100">
        <!-- <div class="bg_overlay"></div> -->
        <div class="container py-5 position-relative">
          <div class="hiro_contant">
            <h1 class="font-weight-e-bold text-white display-2 my-2">We Are Vukode HHH</h1>
            <p class="text-white mb-4"> Our Mission is To Ensure That You Have The Most Up To Date Information You Need To Assess The Metrics That Are Important To Your Companies Growth</p>
            <div class="btn-hiro">
              <a href="" class="btn btn-primary rounded-pill px-4 px-md-5 mr-2 mr-md-4">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of hiro_benner_slider -->
<!-- Our Team -->
<div class="hiro_benner_service position-relative mt-5 mt-md-n5">
  <div class="container">
    <div class="row no-gutters">
      <!-- Service -->
      <div class="col-lg-4 col-md-4 col-12 mb-md-0 mb-3">
        <div class="card-service" style="background-image: url('{% static 'main/images/Financial-bg.jpg' %}');">
          <div class="card-service-con px-4  py-4">
            <img src="{% static 'main/images/Financial.png' %}" alt="" class="img-fluid">
            <h3 class="text-white font-weight-bold">Low-Interest Rates on Loans </h3>
            <p class="text-white mb-0">The interest rate is one of the values that you pay back for taking a loan from a
              financial institution. Now, the interest rate a business owner pays is bound to the credit score of the
              business. You can easily qualify for the lowest interest rates with a good credit score from a bank
              because a good credit report is a symbol that you repay all your debts on time.</p>
          </div>
          <img src="{% static 'main/images/Financial.png' %}" alt="" class="img-fluid bottom-img">
        </div>
      </div>
      <!--End Service -->
      <!-- Service -->
      <div class="col-lg-4 col-md-4 col-12  mb-md-0 mb-3">
        <div class="card-service" style="background-image: url('{% static 'main/images/Inventory-bg.jpg' %}');">
          <div class="card-service-con px-4  py-4">
            <img src="{% static 'main/images/Inventory.png' %}" alt="" class="img-fluid">
            <h3 class="text-white font-weight-bold">Higher Loan Limits</h3>
            <p class="text-white mb-0">The credit department of banks increases loans to businesses that have strong
              credit scores and profiles. A positive business credit report clearly confirms that a business can meet
              its financial obligations. The better the business credit report, the greater the loan limits that your
              trade may qualify for. This indicates that you will be able to apply for financing in order to gain an
              entree to credit. Go for your business credit reports now and experience all these benefits, among many
              others.</p>
          </div>
          <img src="{% static 'main/images/Inventory.png' %}" alt="" class="img-fluid bottom-img">
        </div>
      </div>
      <!--End Service -->
      <!-- Service -->
      <div class="col-lg-4 col-md-4 col-12  mb-md-0 mb-3">
        <div class="card-service" style="background-image: url('{% static 'main/images/Individuals-bg.jpg' %}');">
          <div class="card-service-con px-4  py-4">
            <img src="{% static 'main/images/Individuals.png' %}" alt="" class="img-fluid">
            <h6 class="text-white"><small>How can we help you?</small></h6>
            <h3 class="text-white font-weight-bold">Individuals</h3>
            <p class="text-white mb-0">Sendesta can provide you access to USA-based millions of businesses' credit
              information within seconds. We offer multiple plans that you can purchase and can get access to reports.
              Our plans offer you many levels of details — from presenting the basic facts of a business to detailed
              business credit, payment, and public record histories — in an easy-to-read format.</p>
          </div>
          <img src="{% static 'main/images/Individuals.png' %}" alt="" class="img-fluid bottom-img">
        </div>
      </div>
      <!--End Service -->
    </div>
  </div>
</div>
<!-- End of hiro_benner_Service -->

<!--Request a Free call back -->
<div class="call-back bg-center py-100-70 position-relative"
  style="background-image: url('{% static 'main/images/hiro/img_03.jpg' %}');">
  <div class="bg_overlay bg-primary"></div>
  <div class="container  position-relative">
    <div class="row align-items-center">
      <div class="col-lg-4 mb-30">
        <h2 class="text-white font-weight-bold f-e-gilory h1">Get Your Business Credit Report Now<br></h2>
      </div>
      <div class="col-lg-8 mb-30">
        <form>
          <div class="row">
            <div class="col-md-6 form-group">
              <select class="form-control">
                <option value="">Alabama</option>
                <option value="">Alaska</option>
                <option value="">Arizona</option>
                <option value="">Arkansas</option>
                <option value="">California</option>
                <option value="">Colorado</option>
                <option value="">Connecticut</option>
                <option value="">Delaware</option>
                <option value="">Florida</option>
                <option value="">Georgia</option>
                <option value="">Hawaii</option>
                <option value="">Idaho</option>
                <option value="">IllinoisIndiana</option>
                <option value="">Iowa</option>
                <option value="">Kansas</option>
                <option value="">Kentucky</option>
                <option value="">Louisiana</option>
                <option value="">Maine</option>
                <option value="">Maryland</option>
                <option value="">Massachusetts</option>
                <option value="">Michigan</option>
                <option value="">Minnesota</option>
                <option value="">Mississippi</option>
                <option value="">Missouri</option>
                <option value="">MontanaNebraska</option>
                <option value="">Nevada</option>
                <option value="">New Hampshire</option>
                <option value="">New Jersey</option>
                <option value="">New Mexico</option>
                <option value="">New York</option>
                <option value="">North Carolina</option>
                <option value="">North Dakota</option>
                <option value="">Ohio</option>
                <option value="">Oklahoma</option>
                <option value="">Oregon</option>
                <option value="">PennsylvaniaRhode Island</option>
                <option value="">South Carolina</option>
                <option value="">South Dakota</option>
                <option value="">Tennessee</option>
                <option value="">Texas</option>
                <option value="">Utah</option>
                <option value="">Vermont</option>
                <option value="">Virginia</option>
                <option value="">Washington</option>
                <option value="">West Virginia</option>
                <option value="">Wisconsin</option>
                <option value="">Wyoming</option>
              </select>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="Company Name">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-form rounded-pill py-2 px-5">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}