{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="page-body">
  <!-- Container-fluid starts-->
  <div class="container-fluid dashboard-default-sec">
    <div class="row">
      <div class="col-xl-12 box-col-12 des-xl-100">
        <div class="row">
          <div class="col-xl-12 col-50 box-col-6 des-xl-50">
            <div class="card latest-update-sec">
              <div class="card-header">
                <div class="header-top d-sm-flex align-items-center">
                  <h5>Your Company Information <br>
                    See All Of Your Business Credit Information Below</h5>
                </div>
              </div>
              <div class="card-body">
                <p>Profit And Loss Information: Sales For 2020 were $1,000,000</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>Vukode Number</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>Mailing Address</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>Annual Sales</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>Business Form
                    </h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>Telephone</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>
                      Employees</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>Date Incorporated</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>Age (Year Started)</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>
                      State Of Incorporation</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>Named Principal</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>Ownership</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
              <div class="col-xl-12 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                <div class="card income-card card-primary">
                  <div class="card-body text-center">
                    <h5>Line Of Business</h5>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
