{% extends "base.html" %}
{% block content %}
<!-- Page Sidebar Ends-->
<div class="page-body">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>Current Business Tradelines</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>View Your Current Business Tradelines</h5>
          </div>
          <div class="card-block row">
            <div class="col-sm-12 col-lg-12 col-xl-12">
              <div class="table-responsive">
                <table class="table table-styling">
                  <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">Business Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Tradeline Age</th>
                      <th scope="col">Tradeline Date</th>
                      <th scope="col">Tradeline Amount</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-4 col-lg-4 col-xl-4">
          <button type="button" class="btn btn-outline-primary-2x">Submit</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
{% endblock content %}